.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Helvetica, sans-serif;
  color: #333;
  font-weight: 250;
}

nav {
  background-color: #eee;
  border-bottom: solid 1px #ccc;
}

.main-area {
  margin-top: 50px;
}

Link,
a {
  color: #00008b;
}

Link:hover,
a:hover {
  color: #0000d8;
  text-decoration: none;
}
